{#
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       https://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
{% set fields = Bake.filterFields(fields, schema, modelObject) %}
<div class="container-fluid">

	<div class="row">
		<div class="col-12">
			<div class="card card-primary">
				<div class="card-header">
					<h3 class="card-title"> <?=__('{{ pluralHumanName }}'); ?> </h3>
				</div>

                <div class="card-body table-responsive">
                    <?= $this->Form->create(${{ singularVar }}) ?>
                    <fieldset>
                      
                        <?php
{% for field in fields %}
{%- if field not in primaryKey %}
    {%- if keyFields[field] is defined %}
        {%- set fieldData = Bake.columnData(field, schema) %}
        {%- if fieldData.null %}
                            echo $this->Form->control('{{ field }}', ['class' => 'form-control', 'options' => ${{ keyFields[field] }}, 'empty' => __('please_select')]);
                    {{- "\n" }}
        {%- else %}
                            echo $this->Form->control('{{ field }}', ['class' => 'form-control', 'options' => ${{ keyFields[field] }}]);
                    {{- "\n" }}
        {%- endif %}
    {%- elseif field not in ['created', 'modified', 'updated'] %}
        {%- set fieldData = Bake.columnData(field, schema) %}
        {%- if fieldData.type in ['date', 'datetime', 'time'] and fieldData.null %}
                            echo $this->Form->control('{{ field }}', ['class' => 'form-control', 'empty' => true]);
                    {{- "\n" }}
        {%- else %}
                            echo $this->Form->control('{{ field }}', ['class' => 'form-control']);
                    {{- "\n" }}
        {%- endif %}
    {%- endif %}
{%- endif %}
{%- endfor %}

{%- if associations.BelongsToMany is defined %}
{%- for assocName, assocData in associations.BelongsToMany %}
                            echo $this->Form->control('{{ assocData.property }}._ids', ['class' => 'form-control',  'options' => ${{ assocData.variable }}]);
                    {{- "\n" }}
{%- endfor %}
{% endif %}
                ?>

                        <div class="row mt-10">
                            <div class="col-2">
                                <?= $this->Form->button(__('submit'), ['class' => 'btn btn-large btn-primary form-control']) ?>
                            </div>
                        </div>
                    </fieldset>
                    <?= $this->Form->end() ?>
                </div>
            </div>
        </div>
    </div>
</div>
